name: Python Distribution
on:
  workflow_dispatch:
    inputs:
      python_version:
        description: Python version
        default: '3.13'
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}
          cache: 'pip'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install git+https://github.com/mattloper/chumpy.git --no-build-isolation
          pip install -r requirements.txt

      - name: Build Package
        shell: bash
        run: |
          pip install --upgrade setuptools
          python setup.py bdist_wheel

      - name: Upload Package
        uses: actions/upload-artifact@v4
        with:
          name: easy-mocap.zip
          path: |
            dist/*.whl
